<div class="col-lg-12">
  <div class="row maincontent">
    <div class="col-lg-12">
      <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#wedding" data-toggle="tab">Wedding</a></li>
          <li class=""><a href="#birthday" data-toggle="tab">Birthday</a></li>
          <li class=""><a href="#children" data-toggle="tab">Children</a></li>
          <li class=""><a href="#babyshower" data-toggle="tab">Baby Shower</a></li>
          <li class=""><a href="#seasonal" data-toggle="tab">Seasonal</a></li>
          <li class=""><a href="#specialoccasions" data-toggle="tab">Special Occasions</a></li>
        </ul>

             


        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="wedding">
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/wedding1.jpg" alt="...">
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/wedding2.jpg" alt="...">
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/wedding3.jpg" alt="...">
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/wedding4.jpg" alt="...">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/wedding5.jpg" alt="...">
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/wedding6.jpg" alt="...">
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/wedding7.jpg" alt="...">
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/wedding8.jpg" alt="...">
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="birthday">
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/birthday1.jpg" alt="...">
                </a>
              </div>
          </div>
          <div class="tab-pane fade" id="children">
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/children1.jpg" alt="...">
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="babyshower">
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/babyshower1.jpg" alt="...">
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="seasonal">
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/seasonal1.jpg" alt="...">
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="specialoccasions">
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/specialoccasions.jpg" alt="...">
                </a>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</div>